.App {
  background-color: #ddffdd;
  width: 400px;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.userlist {
  flex: 1;
  background-color: #73c0e4;
}

.chat {
  flex: 12;
  background-color: rgb(183, 128, 245);
}

.inputbox {
  flex: 1;
  background-color: rgb(53, 88, 62);
}

@media screen and (max-width: 768px) {
  .App {
    background-color: #76ff76;
  }

  .userlist{
    flex: 2;
    margin: 1px;
  }

  .inputbox{
    flex: 2;
    margin: 1px;
  }
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.36%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.36%;}
.col-12{width: 100%;}